[submodule "terraform-gke"]
	path = terraform-gke
	url = https://github.com/stefan-caraiman/terraform-gke
[submodule "helm-app-gke"]
	path = helm-app-gke
	url = https://github.com/stefan-caraiman/helm-app-gke
[submodule "flask-app"]
	path = flask-app
	url = https://github.com/stefan-caraiman/flask-app
